/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
  width: 900px;
  margin: auto;
}

p, li {
  color: #707070;
}

#header {
  width: 100%;
  height: 500px;

  background-image: url("../images/apple-pie.jpg");
  color: #ffffff;
  font-size: 3em;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
}


#content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 40px;
}

.img-info {
  width: 450px;
  margin: auto;

  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: circle
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.2em;
}

hr {
  height: 1px;
  border: none;
  background-color: #ccc;
  margin: 20px 0;
}